{% load staticfiles %}
<html>
    <head>
        <title>Forest Wanderer's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!- <img src="../../static/media/header_image2.jpg" width="100%" alt="foggy forest" border="0">
    </head>
    <body>
       
         <div class="page-header">
              <h1>Forest Wanderer's Blog</h1>

         </div> 


            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>



    </body>
</html>

