<html>
    <head>
        <title>Forest Wanderer's blog</title>
    </head>
    <body>
        <div>
            <img src="https://preview.ibb.co/ks6tFd/LRM_EXPORT_20171116_004357.jpg" alt="foggy forest" border="0">
            <h1><a href="/">Forest Wanderer's Blog</a></h1>
        </div>

       {% for post in posts %}
            <div>
               <p>published: {{ post.published_date }}</p>
               <h1><a href="">{{ post.title }}</a></h1>
               <p>{{ post.text|linebreaksbr }}</p>
            </div>
       {% endfor %}


    </body>
</html>

