<html>
    <head>
        <title>Forest Wanderer's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Forest Wanderer's Blog</a></h1>
        </div>

        <div>
            <p>published: 10.05.2018, 12:14</p>
            <h2><a href="">Водоспад Гайфосс</a></h2>
            <p>Так, я все ніяк не заспокоюсь з ісландськими фоточками. Ось вам Гайфосс - водоспад у горах. Він один з найвищих в Ісландії, і до нього не так легко доїхати - завдяки цьому нема такого натовпу туристів, як на південному узбережжі. Одне з наймальовничіших місць, які я там побачила 💚⛰</p>
        </div>

        <div>
            <p>published: 10.05.2018, 12:14</p>
            <h2><a href="">Минулорічне Яремче</a></h2>
            <p>У Карпатах листопад вважається найбільш низьким сезоном з усього року. Але виявляється, що для таких любителів похмурої естетики, як я, листопад у Яремче - це просто сама досконалість. Дуже м'яке світло, не суцільна сірість, а гарні стримані нюансні кольори. Драматичні скелі, темна зелень смерек, бірюзова з білою піною вода у Пруті і сухе коричневе листя на землі. Сині гори, дими й тумани. Легка мряка, але ще доволі тепло і приємно дихати. Неймовірна подорож, досі дуже часто згадую.</p>
        </div>
    </body>
</html>

