.page-header {
    background-color: none;
    background-image: url(../media/header_image2.jpg);
    background-size: 100%;
    margin-top: 0;
    padding: 14.5% 3% 1.5% 3%;
}

@media screen and (max-width: 600px) {
   .page-header {
       padding: 3% 1.5% 1.5%;
       background-size: 160%;
   }
}

@media screen and (min-width: 601px) {
   .page-header {
       padding: 8% 1.5% 1.5%;
       background-size: 110%;
   }
}

@media screen and (max-width: 320px) {
   .page-header {
       padding: 3% 1.5% 1.5%;
       background-size: 200%;
   }
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 42pt;
    text-decoration: none;
}

.empty {
    font-family: 'Playfair Display SC', serif;
    font-size: 35pt;
}

@media screen and (max-width: 600px) {
   .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
       font-size: 28pt;
   }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
   .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
       font-size: 30pt;
   }
}

@media screen and (max-width: 320px) {
   .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
       font-size: 22pt;
   }
}

.content {
    margin-left: 40px;
}

@media screen and (max-width: 600px) {
   .content {
        margin-left: 10px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
   .content {
        margin-left: 15px;
    }
}


h1, h2, h3, h4 {
    font-family: 'Playfair Display SC', serif;
}

h1 {
    color:  #196769;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #196769;
}

@media screen and (max-width: 600px) {
   .post h1 a, .post h1 a:visited {
       font-size: 24pt;
   }
}

@media screen and (max-width: 320px) {
   .post h1 a, .post h1 a:visited {
       font-size: 18pt;
   }
}

.comment {
    margin: 20px 0px 20px 20px;
}



@media screen and (max-width: 900px) {
   .empty {
       font-size: 24pt;
   }
}

@media screen and (max-width: 600px) {
   .empty {
       font-size: 20pt;
   }
}